* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    padding-top: 70px;
    display: flex;
    line-height: 1.5;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
}
.navbar {
    width: 100%;
    background-color:rgb(254, 247, 247);
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    font-weight: bold;
}
.nav-links a {
    text-decoration: none;
    color: rgb(131, 24, 67);
    transition: transform 0.20s ease, color 0.20s ease;
    display: inline-block; 
}
.nav-links a:hover {
  color: rgb(190, 24, 93);
  text-decoration: underline;
  transform: scale(1.05);
}
.nav-logo {
   margin: 0; 
   padding: 0;
}
.nav-logo img {
    height: 100px;
    width: auto;
    transition: transform 0.3s ease;
}
.nav-logo img:hover {
    transform: scale(1.3);
}
/* footer */
footer {
    background-color:  rgb(190, 24, 93);
    color:  rgb(249, 168, 212);
    padding: 10px;
    text-align: center;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    text-align: justify;
}
.logo img {
    height: 170px;
    width: auto;
}
.footer-container ul {
    list-style: none;
    }
.footer-container a {
    text-decoration: none;
    color: rgb(249, 168, 212);
    transition: transform 0.20s ease, color 0.20s ease;
    display: inline-block;
}
.footer-container a:hover {
    color: rgb(131, 24, 67);
    text-decoration: underline;
    transform: scale(1.05);
    font-weight: bold;
}
